<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img class="home-image img-fluid" src="/assets/images/login.png">
    </div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="col">
      &nbsp;
      <h3 class="home-title" style="text-align: center ;">Login</h3>

      <p>
        Enter you're phone number to access you're account. If you're a new user that's ok, we'll create a new account
        for you.
      </p>

      <div class="text-center">
        <mat-form-field class="login-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input type="text" ngModel name="userName" id="userName" matInput>
        </mat-form-field>

        <mat-form-field class="login-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" ngModel name="userPassword" id="userPassword" matInput>
        </mat-form-field>
      </div>



      <div class="text-center">
        <button mat-raised-button type="submit" >Login</button>
        &nbsp;

      </div>

    </form>

  </div>

  
</div>