<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img class="home-image img-fluid" src="/assets/images/login.png">
    </div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="col">
      &nbsp;
      <h3 class="home-title" style="text-align: center ;">Login</h3>

      <p>
        Enter you're phone number to access you're account. If you're a new user that's ok, we'll create a new account
        for you.
      </p>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-person-circle text-primary"></i></span>
          </div>
          <input type="text" ngModel class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          placeholder="Username" name="userName" id="userName">
        </div>
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-shield-lock-fill text-primary"></i>            </span>
          </div>
          <input type="password" ngModel class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          placeholder="Password" name="userPassword" id="userPassword">
        </div>
      </div>



      <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Login"/>
      </div>
    </form>

  </div>
</div>