@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";


.home-image{
    width: 80%;
}

.home-title{
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
.h-description{
    margin-top: 2%;
}



p{
    font-family: 'Montserrat', sans-serif;

}

nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

img{
    text-align: center;
    margin-left: 5%;
}

.nav-item{
    margin: 1%;
} 